.ui-datatable table {
	border-collapse:collapse;
    width:100%;
}

.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-footer {
    text-align:center;
    padding:4px 10px 4px 10px;
}

.ui-datatable .ui-datatable-header {
    border-bottom: 0px none;
}

.ui-datatable .ui-datatable-footer {
    border-top: 0px none;
}

.ui-datatable th {
    text-align:center;
    white-space:nowrap;
    padding:4px 10px 4px 10px;
}

.ui-datatable-data {
    
}

.ui-datatable .ui-datatable-data td {
    border-bottom-color:inherit;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-right-color:inherit;
    border-right-style:solid;
    border-right-width:1px;
    padding:4px 10px 4px 10px;
}

.ui-datatable .ui-paginator {
    margin:0px;
    border-top:0px none;
    text-align: center;
    padding:2px;
}

.ui-datatable .ui-sortable-column {
    cursor: pointer;
}

.ui-datatable .ui-sortable-column-icon {
    float:right;
}