.ui-chips {
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    position: relative;
}

.ui-chips-container {
    padding: 0;
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
}

.ui-chips-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    overflow: hidden;
    padding: 1px 3px;
    position: relative;
    margin: 2px;
}

.ui-chips-token .ui-chips-token-label {
    display: block;
    padding: 0em 2.1em 0em 0.5em;
}

.ui-chips-token .ui-chips-token-icon {
    cursor: pointer;
    margin-top: -9px;
    position: absolute;
    right: 0.2em;
    top: 50%;
}

.ui-chips-input-token {
    display: inline;
    align-items: center;
    flex: 1 1 auto;
}

.ui-chips-input-token input {
    background-color: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

.ui-fluid .ui-chips {
    display: flex;
    flex: 1 1 auto;
}

.ui-fluid .ui-chips .ui-chips-container {
    width: 100%;
}