.ui-galleria-container{position:relative;overflow:hidden;}
.ui-galleria-container img{-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;}
.ui-galleria-stage{position:absolute;top:10px;bottom:60px;left:10px;right:10px;overflow:hidden;}
.ui-galleria-thumbnails-container{height:50px;bottom:0;position:absolute;left:10px;right:10px;z-index:2;}
.ui-galleria-carousel .ui-galleria-thumbnails-list{margin-left:30px;margin-right:30px;}
.ui-galleria-thumbnails .ui-galleria-image{height:40px;width:60px;background:#000;margin:0 5px 0 0;border:1px solid #000;float:left;cursor:pointer;}
.ui-galleria-counter{position:absolute;bottom:10px;left:10px;text-align:right;z-index:2;}
.ui-galleria-loader{background:#000;width:20px;height:20px;position:absolute;top:10px;right:10px;z-index:2;display:none;background:url("#{resource['primefaces:galleria/classic-loader.gif']}") no-repeat 2px 2px;}
.ui-galleria-info{width:50%;top:15px;left:15px;z-index:2;position:absolute;}
.ui-galleria-info-text{padding: 12px;display:none;}
.ui-galleria-info-title{font:bold 12px/1.1 arial,sans-serif;margin:0;;}
.ui-galleria-info-description{font:italic 12px/1.4 georgia,serif;margin:0;}
.ui-galleria-info-title+.ui-galleria-info-description{margin-top:7px;}
.ui-galleria-info-close{width:9px;height:9px;position:absolute;top:5px;right:5px;opacity:.8;cursor:pointer;display:none;}
.ui-galleria-info-link{opacity:.8;position:absolute;width:20px;height:20px;cursor:pointer;}
.ui-galleria-info-link:hover,
.ui-galleria-info-close:hover{opacity:1;}
.ui-galleria-image-nav{position:absolute;top:50%;margin-top:-15px;width:100%;height:31px;left:0;}
.ui-galleria-image-nav-left,
.ui-galleria-image-nav-right{opacity:.7;cursor:pointer;width:16px;height:31px;position:absolute;left:10px;z-index:2;}
.ui-galleria-image-nav-right{left:auto;right:10px;z-index:2;}
.ui-galleria-image-nav-left:hover,
.ui-galleria-image-nav-right:hover{opacity:.5;}
.ui-galleria-thumb-nav-left,
.ui-galleria-thumb-nav-right{cursor:pointer;display:none;position:absolute;left:0;top:12px;height:40px;width:23px;z-index:3;opacity:.8;}
.ui-galleria-thumb-nav-right{background-position:-578px 5px;border-right:none;right:0;left:auto;}
.ui-galleria-thumbnails-container .disabled,
.ui-galleria-thumbnails-container .disabled:hover{opacity:.2;cursor:default;}
.ui-galleria-thumb-nav-left:hover,
.ui-galleria-thumb-nav-right:hover{opacity:1;}