/target/
.settings/
/nbactions.xml
.DS_STORE
.idea/
*.iml
*~
/.classpath
/.project
.vscode/
.checkstyle
src/main/type-definitions/src/PrimeFaces-modules.d.ts
src/main/type-definitions/src/PrimeFaces.d.ts

# Created by https://www.gitignore.io/api/node
# Edit at https://www.gitignore.io/?templates=node

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# End of https://www.gitignore.io/api/node
