.ui-module:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
/* float clearing for IE6 */* html .ui-module{height: 1%;overflow: visible;}
/* float clearing for IE7 */* + html .ui-module{min-height: 1%;}
.ui-breadcrumb{margin: 0;padding: 0;float: left;display: block;height: 21px;overflow: hidden;width: 700px;padding:5px;}
.ui-breadcrumb ul{margin: 0;padding: 0;height: 21px;display: block;}
.ui-breadcrumb ul li{display: block;float: left;position: relative;height: 21px;overflow: hidden;line-height: 21px;margin: 0px 6px 0px 0;padding: 0px 10px 0px 0;background: url("#{resource['primefaces:breadcrumb/Chevron.gif']}") no-repeat 100% 0;}
.ui-breadcrumb ul li div.ui-breadcrumb-chevron{position: absolute;right: 0;top: 0;z-index: 2;}
.ui-breadcrumb ul li span{display: block;overflow: hidden;}
.ui-breadcrumb ul li a{display: block;position: relative;height: 21px;line-height: 21px;overflow: hidden;float: left;}
.ui-breadcrumb ul li.first a{height: 16px !important;text-indent:-1000em;width:16px;padding: 0;margin-top: 2px;overflow: hidden;}
.ui-breadcrumb ul li.last{background: none;margin-right: 0;padding-right: 0;}
.ui-breadcrumb-chevron{display: none;background: url("#{resource['primefaces:breadcrumb/Chevron.gif']}") no-repeat 100% 0;width: 13px;height: 20px;}