.ui-helper-hidden-accessible input,
.ui-helper-hidden-accessible select {
    -webkit-transform: scale(0); 
    -moz-transform: scale(0); 
    -ms-transform: scale(0);
    transform: scale(0);
}

.ui-shadow {
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}

.ui-overlay-visible {
    visibility: visible;
}
ui-overlay-visible * {
    visibility: visible !important;
}

.ui-overlay-hidden {
    visibility: hidden;
}
.ui-overlay-hidden * {
    visibility: hidden !important;;
}

.ui-overflow-hidden {
    overflow: hidden;
}

.ui-datepicker .ui-datepicker-current.ui-priority-secondary {
    opacity: 1;
}

.ui-icon-blank {
    background-position: 16px 16px;
}

/* Column Priorities */
@media only all {
	th.ui-column-p-6,
	td.ui-column-p-6,
	th.ui-column-p-5,
	td.ui-column-p-5,
	th.ui-column-p-4,
	td.ui-column-p-4,
	th.ui-column-p-3,
	td.ui-column-p-3,
	th.ui-column-p-2,
	td.ui-column-p-2,
	th.ui-column-p-1,
	td.ui-column-p-1 {
		display: none;
	}
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
	th.ui-column-p-1,
	td.ui-column-p-1 {
		display: table-cell;
	}
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
	th.ui-column-p-2,
	td.ui-column-p-2 {
		display: table-cell;
	}
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
	th.ui-column-p-3,
	td.ui-column-p-3 {
		display: table-cell;
	}
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
	th.ui-column-p-4,
	td.ui-column-p-4 {
		display: table-cell;
	}
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
	th.ui-column-p-5,
	td.ui-column-p-5 {
		display: table-cell;
	}
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
	th.ui-column-p-6,
	td.ui-column-p-6 {
		display: table-cell;
	}
}

/* FontAwesome */
.ui-icon.fa,
.ui-widget .ui-icon.fa,
.ui-icon.fab,
.ui-widget .ui-icon.fab,
.ui-icon.fas,
.ui-widget .ui-icon.fas,
.ui-icon.far,
.ui-widget .ui-icon.far,
.ui-icon.fal,
.ui-widget .ui-icon.fal {
    background: none repeat scroll 0 0 transparent !important;
    text-indent: 0px !important;
}

/* PrimeIcons */
.ui-widget .ui-icon.pi,
.ui-icon.pi {
    background: none repeat scroll 0 0 transparent !important;
    text-indent: 0px !important;
}

/* FlexGrid */
.p-grid,
.p-grid>div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
