@use 'sass:list';
@use 'sass:math';

body {
  .ui-chip {
    background-color: $chipBg;
    color: $chipTextColor;
    border-radius: $chipBorderRadius;
    padding: 0 list.nth($inputPadding, 2);

    .ui-chip-text {
      line-height: 1.5;
      margin-top: math.div(list.nth($inputPadding, 1), 2);
      margin-bottom: math.div(list.nth($inputPadding, 1), 2);
    }

    .ui-chip-icon {
      margin-right: $inlineSpacing;
    }

    img {
      width: 1.5 + list.nth($inputPadding, 1);
      height: 1.5 + list.nth($inputPadding, 1);
      margin-left: -1 * list.nth($inputPadding, 2);
      margin-right: $inlineSpacing;
    }

    .ui-chip-remove-icon {
      margin-left: $inlineSpacing;
      border-radius: $borderRadius;
      transition: $transition;

      &:focus {
        @include focused();
      }
    }
  }
}