.ui-panel-m .ui-panel-m-titlebar-icon {
    top: 50%;
    margin-top: -15px;
}

.ui-panel-m .ui-panel-m-titlebar {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit; 
}

.ui-panel-m .ui-panel-m-content {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit; 
}
