/* all looong data collapser */
.ui-carousel-container ol{
  list-style: none outside none;
  margin: 0;
  padding:0;
  position: absolute;
  width: 32000px;
  left: 0;
}

/* data packages*/
.ui-carousel-container ol li{
  margin: 1px;
  padding: 0;
  float: left;
}

/* after header data container*/
.ui-carousel-container{
  overflow: hidden;
  position: relative;
  border: 0;
}

/* vertical alignment */
.ui-carousel-vertical-container ol li{
  float: none !important;
}

.ui-carousel-vertical-container ol{
  width: auto !important;
}

/*footer*/
.ui-carousel-footer{
  margin: 1px 1px 0px 1px;
  height: 16px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
}

/* header */
.ui-carousel-header{
  margin: 0 1px;
  height: 16px;
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.ui-carousel-header .ui-carousel-header-content{
  display: inline-block;
  width: 30%;
  padding-top: 2px;
  overflow: hidden;
}

/* root parent */
.ui-carousel{
  visibility: hidden;
  position: relative;
  display: inline-block;
  padding: 1px;
}

/*dropdown pager*/
.ui-carousel-dropdown{
  float: right;
  margin: 0px 10px;
}

/* next prev buttons */
.ui-carousel-button{
  float: right;
  margin: 2px;
}

/* page navigation buttons*/
.ui-carousel-nav-button{
  float: left;
  margin: 0 2px;
}

.ui-carousel-nav-button, .ui-carousel-button{
  cursor: pointer;
}

/* page navigation button container */
.ui-carousel-nav{
  margin: 0px 9px;
  margin-top: 1px;
  display: inline-table;
  float: right;
}

/* ie7 hack*/
.ui-carousel-nav, .ui-carousel-button, .ui-carousel-dropdown{
  *margin-top:-1.4em ;
}