$actionIconWidth: 2rem;
$actionIconHeight: 2rem;

$inputPadding: .75rem .75rem;
$inputListItemPadding: .75rem .75rem;
$inputListHeaderPadding: .75rem .75rem;
$inputGroupAddonMinWidth: 2.75rem;
$inputButtonWidth: 2.75rem;
$inputContentPanelPadding: .75rem;

$buttonTextOnlyPadding: 0.643rem .75rem;
$buttonWithLeftIconPadding: 0.643rem 1rem 0.643rem 2rem;
$buttonWithRightIconPadding: 0.643rem 2rem 0.643rem 1rem;
$buttonIconOnlyWidth: 2.75rem;
$buttonIconOnlyPadding: 0.643rem;

$ratingIconFontSize: 1rem;

$calendarCellDateWidth: 2.25rem;
$calendarCellDateHeight: 2.25rem;

$calendarButtonBarPadding: .75rem 0;

$panelHeaderPadding: .75rem;
$panelContentPadding: .75rem;
$panelFooterPadding: .75rem .75rem;

$accordionHeaderPadding: 1.25rem;
$accordionContentPadding: .75rem 1.25rem;

$tabsHeaderPadding: .75rem 1.25rem;
$tabsContentPadding: .75rem;

$cardBodyPadding: .75rem;
$cardContentPadding: .75rem 0;
$cardFooterPadding: .75rem 0 0 0;
$paginatorPadding: .375rem .75rem;

$datatableHeaderPadding: .75rem .75rem;
$datatableHeaderCellPadding: .75rem .75rem;
$datatableBodyCellPadding: .75rem .75rem;
$datatableFooterCellPadding: .75rem .75rem;
$datatableFooterPadding: .75rem .75rem;

$dataViewContentPadding: .75rem 0;

$messagesMargin: .75rem 0;
$messagesPadding: 1rem 1.25rem;
$messagesIconFontSize: 1.5rem;

$growlPadding: 1.25rem;
$growlIconFontSize: 2rem;

$dialogHeaderPadding: 1.25rem;
$dialogContentPadding: 0.2rem 1.25rem 1.25rem 1.25rem;
$dialogFooterPadding: .75rem 1.25rem;
$confirmDialogContentPadding: 0.2rem 1.25rem 1.25rem 1.25rem;

$overlayPanelCloseIconWidth: 2.25rem;
$overlayPanelCloseIconHeight: 2.25rem;

$menuitemPadding: .75rem .75rem;
$submenuHeaderPadding: .75rem;

$breadcrumbPadding: .75rem;

$horizontalMenuPadding: .75rem;

$sliderHandleWidth: 14px;
$sliderHandleHeight: 14px;

$confirmPopupContentPadding: .75rem;
$confirmPopupFooterPadding: .75rem .75rem;