.ui-menu {
    width:150px;
    padding:0.3em;
    position:relative;
}

.ui-menu-dynamic {
    position: absolute;
    display: none;
}

.ui-menu-list {
    position:static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border:none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width:98%;
    font-size:12px;
    margin:1px 0;
}

.ui-menu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-parent {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display:inline-block;
    float:left;
}

.ui-menu .ui-menuitem-text {
    float:left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    float:left;
    display:block;
    font-size:1em;
    margin:0 auto;
    padding:0.3em 3%;
}

.ui-contextmenu {
    position: absolute;
    display: none;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display:none;
    width:150px;
    padding:0.3em;
    position: absolute;
}

.ui-menu .ui-menu-parent {
    position:relative;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e, 
.ui-menubar .ui-menu-child .ui-icon-triangle-1-e {
    float: right;
}