.ui-menu {
    width: 12.5em;
    padding:0.3em;
    position:relative;
    outline: 0 none;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu.ui-menu-dynamic-maxheight {
    overflow-y: auto;
}

.ui-menu-list {
    position:static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border:none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width:98%;
    margin:1px 0;
}

.ui-menu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-parent {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;
    cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,
.ui-menu .ui-submenu-icon {
    display:inline-block;
    float:left;
}

.ui-menu .ui-submenu-icon {
    margin-top: 1px;
}

.ui-menu .ui-menuitem-text {
    float:left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    float:left;
    display:block;
    font-size:1em;
    margin:0 auto;
    padding:0.3em 3%;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display:none;
    width:12.5em;
    padding:0.3em;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;
}

.ui-menu .ui-menu-parent {
    position:relative;
}

/* Toggleable Menu */
.ui-menu.ui-menu-toggleable li.ui-widget-header { 
    position: relative; 
    min-height: 0; 
}

.ui-menu.ui-menu-toggleable li.ui-widget-header h3 { 
    padding-left: 2em;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header.ui-state-hover { 
    cursor: pointer; 
}
    
.ui-menu.ui-menu-toggleable li.ui-widget-header .ui-icon { 
    position: absolute; 
    left: .5em; 
    top: 50%; 
    margin-top: -8px; 
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e,
.ui-menu .ui-menu-parent .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
    float:right;
}

.ui-menubutton {
    padding:0;
    position: relative;
    display: inline-block;
}

.ui-menubutton .ui-button {
    margin:0;
}

/** Menubar **/
.ui-menubar {
    width:auto;
}

.ui-menubar .ui-menuitem {
    width:auto;
    clear:none;
}

.ui-menubar .ui-menu-child .ui-menuitem {
    width:100%;
}

.ui-menubar .ui-menu-child {
    top:25px;
    left:0;
}

.ui-menubar .ui-menuitem-link {
    width:auto;
    padding:0.4em 0.3em;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    width:92%;
}

.ui-menubar .ui-widget-header {
    clear:none;
    width:auto;
    margin:0 3px 0 0;
}

.ui-menubar .ui-widget-header h1,
.ui-menubar .ui-widget-header h2,
.ui-menubar .ui-widget-header h3,
.ui-menubar .ui-widget-header h4,
.ui-menubar .ui-widget-header h5,
.ui-menubar .ui-widget-header h6 {
    padding:0.4em 0.3em;
}

.ui-menubar .ui-menubar-options {
    float: right;
}

.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-e,
.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s{
    *float: none;
}

.ui-menu .ui-separator {
    width:98%;
    height:0px;
    float:left;
    clear:both;
    margin:1px 0 0 0;
    padding:0;
    border-top: 0px none;
}

/** MegaMenu **/
.ui-megamenu td {
    vertical-align: top;
}

.ui-menu.ui-megamenu .ui-menu-parent .ui-menu-child {
    width:auto;
}

.ui-menu.ui-megamenu .ui-menu-child > table {
    width:auto;
}

.ui-menu.ui-megamenu .ui-menu-child .ui-menu-list {
    width: 12.5em;
}

.ui-megamenu-vertical {
    width: 12.5em;
}
.ui-megamenu-vertical .ui-menu-parent {
    clear: both;
    width: 100%;
}

.ui-megamenu-vertical .ui-submenu-link.ui-menuitem-link {
    width: 92%;
}

.ui-megamenu .ui-widget-header span {
    display: block;
    float: left;
    font-size: 1em;
    margin: 0 auto;
    padding: 0.4em 0.3em;
}

/** Breadcrumb **/
.ui-breadcrumb {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px 5px 7px 5px;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
    display: block;
}

.ui-breadcrumb ul li {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

.ui-breadcrumb ul li span {
    display: block;
    overflow: hidden;
}

.ui-breadcrumb ul li .ui-menuitem-link {
    display: block;
    position: relative;
    overflow: hidden;
    float: left; 
    *cursor: pointer;
    margin-top:3px;
}

.ui-breadcrumb ul li a.ui-icon-home {
    padding: 0;
    margin-top: 1px;
    overflow: hidden;
}

.ui-breadcrumb-chevron{
    float:left;
    margin-top:2px;
}

.ui-breadcrumb .ui-breadcrumb-options {
    float: right;
}
           
/** SlideMenu **/
.ui-slidemenu .ui-slidemenu-wrapper {
    position: relative;
}

.ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ui-slidemenu .ui-menu-list {
    position: absolute;
    top: 0;
}

.ui-slidemenu .ui-menu-parent {
    position: static;
}

.ui-slidemenu .ui-menu-child {
    box-shadow : none;
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}

.ui-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-bottom: 0.4em;
    padding: 0.2em;
    cursor: pointer;
    display: none;
}

.ui-slidemenu-backward .ui-icon {
    float:left;
}

/** SplitButtonMenu **/
.ui-splitbuttonmenu {
    width: auto;
}

/** PanelMenu **/
.ui-panelmenu { 
    width: auto; 
}

.ui-panelmenu .ui-panelmenu-panel { 
    padding: 0;
    margin: 0;
}

.ui-panelmenu .ui-panelmenu-header { 
    cursor: pointer; 
    position: relative; 
    margin: 0;
    zoom: 1; 
}

.ui-panelmenu .ui-panelmenu-header a { 
    display: block;
    padding: .5em .5em .5em 2.2em; 
}

.ui-panelmenu .ui-panelmenu-header .ui-icon { 
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-panelmenu .ui-panelmenu-content { 
    padding: 0.2em 0;
    border-top: 0; 
    margin-top: -2px; 
    position: relative; 
    top: 1px; 
    overflow: auto; 
    zoom: 1; 
    outline: none;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-disabled, 
.ui-panelmenu .ui-panelmenu-header.ui-state-disabled a { 
    cursor: default; 
}

.ui-panelmenu .ui-menu-list { 
    position: static; 
}

.ui-panelmenu .ui-menuitem {
    margin:1px 0;
    padding:0;
}

.ui-panelmenu .ui-menuitem-link {
    display:block;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    line-height:16px;
    cursor: pointer;
    position: relative;
    padding: 0.3em 0.3em 0.3em 2em;
}

.ui-panelmenu .ui-menu-parent .ui-menuitem-link-hasicon {
    padding-left: 2.8em;
}

.ui-panelmenu .ui-icon {
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0.5em;
}

.ui-panelmenu .ui-menu-parent > .ui-menuitem-link > .ui-icon {
    left: 1.5em;
}

.ui-panelmenu .ui-menu-parent .ui-panelmenu-icon.ui-icon {
    left: 0.5em;
}

.ui-panelmenu .ui-menuitem-text {
    float: none;
}

.ui-panelmenu .ui-menu-parent .ui-menu-list {
    margin-left: 20px;
}

.ui-menuitem-outline {
    outline: 1px dotted;
    z-index: 1;
}

/** TabMenu **/
.ui-tabmenu { 
    position: relative; 
    zoom: 1; 
}

.ui-tabmenu .ui-tabmenu-nav { 
    margin: 0;
    padding: .2em .2em 0; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap;
    display: block;
    border-bottom: 0;
    top: 1px; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a { 
    float: left; 
    padding: 0.5em 1em;
    text-decoration: none; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem-hasicon a { 
    padding: 0.5em 1em 0.5em 0.2em;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon { 
    float: left; 
    cursor: pointer; 
}

/** Steps **/
.ui-steps ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}     

.ui-steps .ui-steps-item {
    float: left;
    box-sizing: border-box;
}

.ui-steps .ui-steps-item .ui-menuitem-link {
    text-decoration: none;
    display: block;
    padding: 1em;
    position: relative;
    text-align: center;
}

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link,
.ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
    cursor: default;
}

.ui-steps .ui-steps-number {
    font-size: 200%; 
    display: block;
}

.ui-steps .ui-steps-title {
    display: block;
    white-space: nowrap;
}

/* Responsive */
@media (max-width: 640px) {    
    .ui-steps .ui-steps-item .ui-menuitem-link {
        padding: 0.5em;
    }
    
    .ui-steps .ui-steps-item .ui-steps-title {
        display: none;
    }
}

/** Fluid **/
.ui-fluid .ui-menu {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

