body {
  .ui-spinner {
    .ui-spinner-input {
      padding-right: $buttonIconOnlyWidth + $inlineSpacing;
    }

    .ui-spinner-button.ui-button {
      position: absolute;
      border-radius: 0;
      width: $buttonIconOnlyWidth;
      z-index: 1;

      .ui-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: math.div(-1 * $iconSize, 2);
        margin-top: math.div(-1 * $iconSize, 2);
      }

      &.ui-spinner-up {
        border-top-right-radius: $borderRadius;

        .ui-icon-triangle-1-n {
          @include icon-override ("\e933");
        }
      }

      &.ui-spinner-down {
        border-bottom-right-radius: $borderRadius;

        .ui-icon-triangle-1-s {
          @include icon-override ("\e930");
        }
      }
    }
  }

  .ui-fluid {
    .ui-spinner {
      .ui-spinner-input {
        padding-right: $buttonIconOnlyWidth + $inlineSpacing;
      }
    }
  }
}