.ui-columntoggler {
    padding: 0;
    position: absolute;
    overflow: auto;
    display: none;
}

.ui-columntoggler .ui-columntoggler-items {
    border: 0 none;
    padding: 0.4em;
    margin: 0;
}

.ui-columntoggler .ui-columntoggler-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
    white-space: nowrap;
    display: block;
    position: relative;
}

.ui-columntoggler .ui-columntoggler-item .ui-chkbox {
    position: absolute;
    top:50%;
    margin-top:-8px;
}

.ui-columntoggler .ui-columntoggler-item label {
    display: block;
    padding-left: 2.2em;
}