.ui-columntoggler {
    padding: 0;
    position: absolute;
    overflow: auto;
    display: none;
}

.ui-columntoggler .ui-columntoggler-items {
    border: 0 none;
    padding: 0.4em;
    margin: 0;
}

.ui-columntoggler .ui-columntoggler-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
    white-space: nowrap;
    display: block;
    position: relative;
}

.ui-columntoggler .ui-columntoggler-item .ui-chkbox {
    position: absolute;
    top:50%;
    margin-top:-8px;
}

.ui-columntoggler .ui-columntoggler-item label {
    display: block;
    padding-left: 2.2em;
}

.ui-columntoggler .ui-columntoggler-close {
    float: right;
    margin-top: 1px;
    margin-right: 1px;

}

.ui-columntoggler .ui-columntoggler-close:focus {
    outline: dotted thin;
}

.ui-columntoggler .ui-columntoggler-items {
    padding:1em 0.4em 0.4em 0.4em;
}

/* Column Priorities */
@media only all {
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-1,
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-2,
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-3,
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-4,
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-5,
    .ui-columntoggler .ui-columntoggler-item.ui-column-p-6 {
		display: none;
	}
    
    th.ui-helper-hidden,
    td.ui-helper-hidden {
        display: none
    }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-1 {
		display: block;
	}
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-2 {
		display: block;
	}
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-3 {
		display: block;
	}
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-4 {
		display: block;
	}
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-5 {
		display: block;
	}
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
	.ui-columntoggler .ui-columntoggler-item.ui-column-p-6 {
		display: block;
	}
}