.ui-autocomplete {
    width: auto;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position:static;
}

.ui-autocomplete-panel {
    position: absolute;
    overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
}

.ui-autocomplete-panel .ui-autocomplete-table {
    border-collapse:collapse;
    width:100%;
}

.ui-autocomplete-panel .ui-autocomplete-table td {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding:4px 10px 4px 10px;
}

.ui-autocomplete .ui-button-icon-only .ui-button-text {
    padding: 0.29em;
}