.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; min-height: 0; padding: .5em .5em .5em 2.2em;}
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; zoom: 1; }
.ui-accordion .ui-accordion-header.ui-state-disabled, .ui-accordion .ui-accordion-header.ui-state-disabled a { cursor: default; }

/** RTL **/
.ui-accordion.ui-accordion-rtl {
    direction: rtl;
}

.ui-accordion.ui-accordion-rtl .ui-accordion-header .ui-icon {
    right: 0.5m;
    left: auto;
}

.ui-accordion.ui-accordion-rtl .ui-accordion-header a {
    padding: 0.5em 2.2em 0.5em 0.5em;
}

.ui-tabs-outline {
    outline: dotted thin;
    z-index: 1;
}