.ui-toggleswitch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.75em;
}

.ui-toggleswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 30px;
}

.ui-toggleswitch-slider:before {
    position: absolute;
    content: "";
    height: 1.250em;
    width: 1.250em;
    left: .25em;
    bottom: .25em;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;

}

.ui-toggleswitch-checked .ui-toggleswitch-slider:before {
    -webkit-transform: translateX(1.250em);
    -ms-transform: translateX(1.250em);
    transform: translateX(1.250em);
}

.ui-toggleswitch .ui-toggleswitch-slider {

    background: #cccccc; 
}

.ui-toggleswitch .ui-toggleswitch-slider:before {

    background-color: #ffffff; 
}
.ui-toggleswitch.ui-toggleswitch-focus .ui-toggleswitch-slider {

    -moz-box-shadow: 0px 0px 10px #1c92c9;

    -webkit-box-shadow: 0px 0px 10px #1c92c9;

    box-shadow: 0px 0px 10px #1c92c9; 

}
.ui-toggleswitch:not(.ui-state-disabled):hover .ui-toggleswitch-slider {

    background-color: #b7b7b7; 
}
.ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {

    background-color: #186ba0; 
}
.ui-toggleswitch.ui-toggleswitch-checked:not(.ui-state-disabled):hover .ui-toggleswitch-slider {

    background-color: #114d74; 
}