.roundabout-holder {
    list-style: none;
    width: 75%;
    height: 10em;
    margin: 1em auto;
}
.roundabout-moveable-item {
    height: 4em;
    width: 8em;
    cursor: pointer;
}
.roundabout-in-focus { cursor: auto; }