.ui-log {
    position:fixed;
    width:300px;
    height:300px;
    left:50px;
    top:50px;
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    overflow: auto;
}

.ui-log .ui-log-items {
    list-style-type: none;
}