.ui-fieldset, .ui-fieldset .ui-fieldset-legend {padding:0.5em 1em;}
.ui-fieldset-toggleable .ui-fieldset-legend {padding-left:2em;position:relative;cursor:pointer;}
.ui-fieldset .ui-fieldset-toggler {position:absolute;top:0.5em;left:0.5em;}