.ui-scrollpanel {
   overflow: hidden;
   outline: none;
   background-image: none;
}

.ui-scrollpanel-native {
   overflow: auto;
}

.ui-scrollpanel-container {
   overflow: hidden;
   position: relative;
}

.ui-scrollpanel-content {
   position: absolute;
}

.ui-scrollpanel-vbar {
   position: absolute;
   top: 0;
   right: 0;
   width: 16px;
   height: 100%;
}

.ui-scrollpanel-hbar {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 16px;
}

.ui-scrollpanel-cap {
   display: none;
}

.ui-scrollpanel-hbar .ui-scrollpanel-cap {
   float: left;
}

.ui-scrollpanel-track {
   background-image: none;
   position: relative;
   border: 0 none;
}

.ui-scrollpanel .ui-scrollpanel-drag {
   position: relative;
   top: 0;
   left: 0;
   cursor: pointer;
   border: 0px none;
}

.ui-scrollpanel-hbar .ui-scrollpanel-track,
.ui-scrollpanel-hbar .ui-scrollpanel-drag {
   float: left;
   height: 100%;
}

.ui-scrollpanel-vbar .jspArrow {
   height: 16px;
}

.ui-scrollpanel-hbar .jspArrow {
   width: 16px;
   float: left;
   height: 100%;
}

.ui-scrollpanel-vbar .jspArrow:focus {
   outline: none;
}

.ui-scrollpanel-corner {
   float: left;
   height: 100%;
   border: 0 none;
}

.jspContainer {
   overflow: hidden;
   position: relative;
}

.jspPane {
   position: absolute;
}

.jspVerticalBar {
   background: red;
   height: 100%;
   position: absolute;
   right: 0;
   top: 0;
   width: 16px;
}

.jspHorizontalBar {
   background: red;
   bottom: 0;
   height: 16px;
   left: 0;
   position: absolute;
   width: 100%;
}

.jspCap {
   display: none;
}

.jspHorizontalBar .jspCap {
   float: left;
}

.jspTrack {
   background: #dde;
   position: relative;
}

.jspDrag {
   background: #bbd;
   cursor: pointer;
   left: 0;
   position: relative;
   top: 0;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
   float: left;
   height: 100%;
}

.jspArrow {
   background: #50506d;
   cursor: pointer;
   direction: ltr;
   display: block;
   margin: 0;
   padding: 0;
   text-indent: -20000px;
}

.jspDisabled {
   background: #80808d;
   cursor: default;
}

.jspVerticalBar .jspArrow {
   height: 16px;
}

.jspHorizontalBar .jspArrow {
   float: left;
   height: 100%;
   width: 16px;
}

.jspVerticalBar .jspArrow:focus {
   border: 1px solid red;
   outline: none;
}

.jspCorner {
   background: #eeeef4;
   float: left;
   height: 100%;
}