.ui-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ui-scrolltop-sticky {
    position: sticky;
    margin-left: auto;
}