.ui-picklist > div {
    float: left;
}

.ui-picklist .ui-picklist-buttons {
    height: 200px;
    padding: 0px 5px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    height:200px;
    width:200px;
}

.ui-picklist .ui-picklist-list li {
    margin: 1px;
    padding: 2px;
}

.ui-picklist .ui-button {
    display:block;
    margin-bottom:0.3em;
}

.ui-picklist .ui-button-text-icon-left {
    width: 100%;
}

.ui-picklist .ui-picklist-item {
    cursor:pointer;
    border:0px none;
    font-weight: inherit;
}

.ui-picklist .ui-picklist-caption {
    text-align: center;
    padding:4px 10px 4px 10px;
    border-bottom:0px none;
}

.ui-picklist table {
    width:100%;
    border-collapse:collapse;
}

.ui-picklist .ui-picklist-filter {
    padding-right: 15px;
    width: 90%;
}

.ui-picklist .ui-picklist-filter-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.ui-picklist .ui-picklist-filter-container .ui-icon {
    position: absolute;
    top: 5px;
    right: 2px;
}

.ui-picklist {
    display: table;
}

.ui-picklist > div {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.ui-picklist .ui-picklist-buttons {
    vertical-align: middle;
}

/* Vertical */
.ui-picklist.ui-picklist-vertical {
    display: table;
}

.ui-picklist.ui-picklist-vertical > div {
    float: none;
    display: table-row;
    vertical-align: top;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons {
    text-align:center;
    height: auto;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons .ui-button {
    display: inline-block;
}

.ui-picklist.ui-picklist-vertical .ui-button {
    margin-top: 0.3em;
}