.ui-treetable table {
	border-collapse:collapse;
    width: 100%;
}

.ui-treetable .ui-treetable-header,
.ui-treetable .ui-treetable-footer {
    text-align:center;
    padding: 4px 10px;
}

.ui-treetable .ui-treetable-header {
    border-bottom: 0px none;
}

.ui-treetable .ui-treetable-footer {
    border-top: 0px none;
}

.ui-treetable th, .ui-treetable tfoot td {
    text-align: center;
}

.ui-treetable thead th,
.ui-treetable tbody td,
.ui-treetable tfoot td {
    padding: 4px 10px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
}

.ui-treetable tbody td {
    border-color: inherit;
}

.ui-treetable .ui-treetable-toggler {
    float: left;
    margin-top: -2px;
    cursor: pointer;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight,
.ui-treetable .ui-treetable-data tr.ui-state-hover {
    cursor: pointer;
}

.ui-treetable-scrollable-body {
    overflow:auto;
}
.ui-treetable-scrollable-header,
.ui-treetable-scrollable-footer {
    overflow: hidden;
    border:0 none;
}

.ui-treetable.ui-treetable-scrollable table {
    table-layout: fixed;
}
.ui-treetable-scrollable .ui-treetable-scrollable-header,
.ui-treetable-scrollable .ui-treetable-scrollable-footer {
    position: relative;
} 
            
.ui-treetable .ui-treetable-data tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
}

/** Resizable Columns **/
.ui-treetable-resizable {
    padding-bottom:1px;     /*fix for webkit overlow*/
    overflow:auto;
}

.ui-treetable.ui-treetable-resizable table {
    table-layout: fixed;
}

.ui-treetable .ui-column-resizer {
    width:8px;
    height:20px;
    padding:0px;
    cursor:col-resize;
    background-image: url("#{resource['primefaces:spacer/dot_clear.gif']}");
    margin: -4px -10px -4px 0px;
    float: right;
}

.ui-treetable .ui-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

.ui-treetable .ui-chkbox {
    margin-right: 3px;
}

.ui-treetable .ui-treetable-indent {
    width: 16px;
    height: 16px;
    float: left;
}