.ui-breadcrumb {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px 5px 7px 5px;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
    display: block;
    width:5000px;
}

.ui-breadcrumb ul li {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

.ui-breadcrumb ul li span {
    display: block;
    overflow: hidden;
}

.ui-breadcrumb ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    float: left; 
    *cursor: pointer;
    margin-top:3px;
}

.ui-breadcrumb ul li a.ui-icon-home {
    padding: 0;
    margin-top: 1px;
    overflow: hidden;
}

.ui-breadcrumb-chevron{
    float:left;
    margin-top:2px;
}