.layout-content {
    margin-left: 250px;
    padding-top: 70px;

    .content-section {
        padding: 2rem;

        &.introduction {
            background-color: var(--surface-b);
            color: var(--text-color);
            padding-bottom: 0;
            display: flex;
            align-items: top;
            justify-content: space-between;

            .feature-intro {
                h1 {
                    span {
                        font-weight: 400;
                        color: var(--text-color-secondary);
                    }
                }

                p {
                    margin: 0;
                }

                a {
                    @include navlink();
                }
            }

            .documentation-link {
                @include navlink();
                display: flex;
                align-items: center;
                margin: 1rem 0;
                white-space: nowrap;

                i {
                    margin-right: .5rem;
                }
            }
        }

        &.implementation {
            background-color: var(--surface-b);
            color: var(--text-color);

            +.documentation {
                padding-top: 0;
            }

            input[type="hidden"]  + h5 { 
                margin-top:0;
            }
        }

        &.documentation {
            background-color: var(--surface-b);
            color: var(--text-color);

            li {
                line-height: 1.5;
            }

            a {
                @include navlink();
            }

            .doc-tablewrapper {
                margin: 1rem 0;
                overflow: auto;
            }

            i:not([class~="pi"]) {
                background-color: var(--surface-a);
                color: #2196f3;
                font-family: Monaco, courier, monospace;
                font-style: normal;
                font-size: 12px;
                padding: 2px 4px;
                letter-spacing: .5px;
                border-radius: 3px;
                font-weight: 600;
                margin: 0 2px;
            }

            .ui-tabs {
                background: transparent;
                border: 0 none;
    
                .ui-tabs-nav {
                    background-color: transparent;

                    &:before {
                        border-bottom: 1px solid var(--surface-d) !important;
                    }
    
                    li.ui-tabs-header {
                        background-color: transparent;
                        border-bottom-width: 1px;

                        a {
                            text-decoration: none;
                        }

                        &.ui-state-hover {
                            border-color: transparent;
                            border-bottom-color: var(--primary-color);
                            border-radius: 0;

                            a {
                                color: var(--text-color);
                            }
                        }

                        &.ui-state-active {
                            border-color: transparent;
                            border-bottom-color: var(--primary-color);
                            border-radius: 0;

                            a {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
    
                .ui-tabs-panels {
                    background: transparent;
    
                    .ui-tabs-panel {
                        padding: 2rem 1rem;
                    }
                }
            }
        }

        .doc-table {
            border-collapse: collapse;
            width: 100%;
            background-color: var(--surface-a);

            th {
                border-bottom: 1px solid var(--surface-d);
                padding: 1rem;
                text-align: left;
            }

            tbody{
                td {
                    padding: 1rem;
                    border-bottom: 1px solid var(--surface-d);
                }
            }
        }
    }

    .card {
        background: var(--surface-e);
        padding: 2rem;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border-radius: 4px;
        margin-bottom: 2rem;

        .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
