.ui-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ui-toolbar-group-left,
.ui-toolbar-group-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}