.pf-wizard-nav {
}

.pf-wizard-prev, .pf-wizard-next {
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.pf-wizard-prev {
	background: url(prev.png) no-repeat;
	float:left;
}

.pf-wizard-next {
	background: url(next.png) no-repeat;
	float:right;
}

.pf-wizard-viewport {
	padding: 1px;
	clear:both;
}