/* Menu */
.ui-menu {
	padding: 2px;
	margin: 0;
	display: block;
}

.ui-menu .ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-submenu-label {
	padding: 0.3em 0.5em;
}

.ui-menu ul {
	padding:2px;
	margin:0;
	list-style: none;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	width: 100%;
	position: relative;
}

.ui-menu .ui-menu-item .ui-menu-item-label {
	text-decoration: none;
	display: block;
	padding: .2em 1.5em;
	line-height: 1.5;
	zoom: 1;
	font-weight: normal;
}

.ui-menu li.ui-state-hover,
.ui-menu li.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menubar .bd li.ui-state-hover,
.ui-menubar .bd li.ui-state-active {
	margin: -1px;
}

.ui-menu-item:focus,
.ui-menu-item-label:focus,
.ui-menubar-item:focus,
.ui-menubar-item-label:focus {
	outline: none;
}

.ui-menu .ui-menu-item-submenu-icon {
	position:absolute;
	top: 0.2em;
	right:0.2em;
}

/* Menubar */
.ui-menubar .bd ul li {
    list-style-type: none;    
}

.ui-menubar .bd ul, 
.ui-menubar .bd li {
    margin: 0;
    padding: 0;
}

.ui-menubar-item-label {
    text-align: left;
    white-space: nowrap;
}

.ui-menubar ul {
    *zoom: 1;
    border:none !important;
}

.ui-menubar .ui-menu ul {
    *zoom: normal;
}

.ui-menubar>.bd>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.ui-menubar-item {
    float: left;
}

.ui-menubar-item-label {
    display: block;
}

.ui-menu-item-label .helptext {
    font-style: normal;
    display: block;
    margin: -1em 0 0 10em;
}

.ui-menu-item-label .helptext {
	margin-top: -1.5em;
    *margin-top: -1.2em;  /* For IE*/
}

.ui-menubar-item-label {
    border: 0 none;
    padding: 4px 24px;
}