.ui-blockui {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
}

.ui-blockui-content {
    position: absolute;
    text-align: center;
    padding:1em;
}