.ui-blockui {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.ui-blockui-content {
    position: absolute;
    text-align: center;
    padding:1em;
}