<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE component SYSTEM "../misc/component.dtd" [
<!ENTITY standard_uicomponent_attributes		SYSTEM "../entities/standard_uicomponent_attributes.xml">
<!ENTITY widget_var_attribute					SYSTEM "../entities/widget_var_attribute.xml">
]>
<component>
	<tag>menu</tag>
	<tagClass>org.primefaces.component.menu.MenuTag</tagClass>
	<componentClass>org.primefaces.component.menu.Menu</componentClass>
	<componentType>org.primefaces.component.Menu</componentType>
	<componentFamily>org.primefaces.component</componentFamily>
	<rendererType>org.primefaces.component.MenuRenderer</rendererType>
	<rendererClass>org.primefaces.component.menu.MenuRenderer</rendererClass>
	<parent>org.primefaces.component.menu.AbstractMenu</parent>
    <interfaces>
		<interface>
			<name>org.primefaces.component.api.Widget</name>
		</interface>
	</interfaces>
	<attributes>
		&standard_uicomponent_attributes;
		&widget_var_attribute;
		<attribute>
			<name>model</name>
			<required>false</required>
			<type>org.primefaces.model.MenuModel</type>
		</attribute>
        <attribute>
			<name>trigger</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>my</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>at</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>position</name>
			<required>false</required>
			<type>java.lang.String</type>
			<defaultValue>static</defaultValue>
		</attribute>
        <attribute>
			<name>tiered</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
        <attribute>
			<name>type</name>
			<required>false</required>
			<type>java.lang.String</type>
			<defaultValue>plain</defaultValue>
		</attribute>
        <attribute>
			<name>effect</name>
			<required>false</required>
			<type>java.lang.String</type>
			<defaultValue>fade</defaultValue>
		</attribute>
		<attribute>
			<name>effectDuration</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>400</defaultValue>
		</attribute>
        <attribute>
			<name>style</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>zindex</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>1</defaultValue>
		</attribute>
        <attribute>
			<name>backLabel</name>
			<required>false</required>
			<type>java.lang.String</type>
            <defaultValue>Back</defaultValue>
		</attribute>
        <attribute>
			<name>maxHeight</name>
			<required>false</required>
			<type>java.lang.Integer</type>
            <defaultValue>200</defaultValue>
		</attribute>
	</attributes>
	<resources>
        <resource>
			<name>wijmo/wijmo.css</name>
		</resource>
		<resource>
			<name>jquery/jquery.js</name>
		</resource>
        <resource>
			<name>jquery/ui/jquery-ui.js</name>
		</resource>
        <resource>
			<name>wijmo/wijmo.js</name>
		</resource>
        <resource>
			<name>core/core.js</name>
		</resource>
        <resource>
			<name>menu/menu.js</name>
		</resource>
	</resources>
</component>
