<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE component SYSTEM "../misc/component.dtd" [
<!ENTITY standard_uicomponent_attributes		SYSTEM "../entities/standard_uicomponent_attributes.xml">
<!ENTITY widget_var_attribute					SYSTEM "../entities/widget_var_attribute.xml">
]>
<component>
	<tag>menu</tag>
	<tagClass>org.primefaces.component.menu.MenuTag</tagClass>
	<componentClass>org.primefaces.component.menu.Menu</componentClass>
	<componentType>org.primefaces.component.Menu</componentType>
	<componentFamily>org.primefaces.component</componentFamily>
	<rendererType>org.primefaces.component.MenuRenderer</rendererType>
	<rendererClass>org.primefaces.component.menu.MenuRenderer</rendererClass>
	<parent>org.primefaces.component.menu.AbstractMenu</parent>
    <interfaces>
		<interface>
			<name>org.primefaces.component.api.Widget</name>
		</interface>
	</interfaces>
	<attributes>
		&standard_uicomponent_attributes;
		&widget_var_attribute;
		<attribute>
			<name>model</name>
			<required>false</required>
			<type>org.primefaces.model.MenuModel</type>
		</attribute>
        <attribute>
			<name>trigger</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>my</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>at</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
        <attribute>
			<name>position</name>
			<required>false</required>
			<type>java.lang.String</type>
			<defaultValue>static</defaultValue>
		</attribute>
        <attribute>
			<name>tiered</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
        <attribute>
			<name>effect</name>
			<required>false</required>
			<type>java.lang.String</type>
			<defaultValue>FADE</defaultValue>
		</attribute>
		<attribute>
			<name>effectDuration</name>
			<required>false</required>
			<type>java.lang.Double</type>
			<defaultValue>0.25</defaultValue>
		</attribute>
        <attribute>
			<name>autoSubmenuDisplay</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>true</defaultValue>
		</attribute>
        <attribute>
			<name>style</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>visible</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
		<attribute>
			<name>x</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>-1</defaultValue>
		</attribute>
		<attribute>
			<name>y</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>-1</defaultValue>
		</attribute>
		<attribute>
			<name>fixedCenter</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
		<attribute>
			<name>constraintToViewport</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>true</defaultValue>
		</attribute>
		<attribute>
			<name>clickToHide</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>true</defaultValue>
		</attribute>
		<attribute>
			<name>keepOpen</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
		<attribute>
			<name>showDelay</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>250</defaultValue>
		</attribute>
		<attribute>
			<name>hideDelay</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>0</defaultValue>
		</attribute>
		<attribute>
			<name>submenuHideDelay</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>250</defaultValue>
		</attribute>
		<attribute>
			<name>context</name>
			<required>false</required>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>zindex</name>
			<required>false</required>
			<type>java.lang.Integer</type>
			<defaultValue>java.lang.Integer.MAX_VALUE</defaultValue>
		</attribute>
        <attribute>
			<name>appendToBody</name>
			<required>false</required>
			<type>java.lang.Boolean</type>
			<defaultValue>false</defaultValue>
		</attribute>
	</attributes>
	<resources>
        <resource>
			<name>wijmo/wijmo.css</name>
		</resource>
		<resource>
			<name>jquery/jquery.js</name>
		</resource>
        <resource>
			<name>jquery/ui/jquery-ui.js</name>
		</resource>
        <resource>
			<name>core/core.js</name>
		</resource>
		<resource>
			<name>wijmo/wijmo.js</name>
		</resource>
	</resources>
</component>
