.ui-paginator {
    margin:0px;
    text-align: center;
    padding:2px;
}

.ui-paginator-top {
    border-bottom:0px none;
}

.ui-paginator-bottom {
    border-top:0px none;
}

.ui-paginator-page,
.ui-paginator-pages,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-first,
.ui-paginator-prev,
.ui-paginator-current {
	display: inline-block;
	padding: 2px 6px;
	zoom: 1;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: none;
	outline: none;
}

.ui-paginator-page,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-first,
.ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator-current,
.ui-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
}

.ui-paginator-next .ui-icon,
.ui-paginator-prev .ui-icon,
.ui-paginator-first .ui-icon,
.ui-paginator-last .ui-icon {
	height: auto;
	overflow: inherit;
}

/* IE7 Hack */
.ui-paginator-pages {
    *padding-bottom: 0px;
}

.ui-paginator-jtp-select option,
.ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}