.ui-inputfield {margin: 0;outline: medium none;padding: 4px;}
.ui-inputtextarea-resizable {display:block;overflow:auto;}
.ui-selectonelistbox {width:100px;}
.ui-selectonelistbox ul {list-style-type: none; margin: 0;padding: 0;}
.ui-selectonelistbox .ui-selectonelistbox-item {margin:2px;border:0 !important}
