name: Continuous Integration

on:
  push:
    paths-ignore:
      - '**/**.md'
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**/**.md'

env:
    MAVEN_OPTS: >-
        -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
    SCREENSHOT_DIRECTORY: '/tmp/pf_it/'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    strategy:
      fail-fast: false
      matrix:
        java: [11, 25]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # SonarQube needs full git history
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -Pminify --batch-mode --show-version
      - name: Sonar Cloud
        if: (github.ref == 'refs/heads/master' || github.event_name == 'pull_request') && matrix.java == 25
        run: |
          echo "Debug: SonarCloud Configuration"
          echo "Project Key: java-helpers:primefaces"
          echo "Organization: java-helpers"
          echo "Host URL: https://sonarcloud.io"
          echo "Token check: ${SONAR_TOKEN:0:10}..."
          echo "Testing basic SonarCloud connectivity..."
          mvn sonar:sonar -Dsonar.projectKey=java-helpers:primefaces -Dsonar.organization=java-helpers -Dsonar.host.url=https://sonarcloud.io --file primefaces/pom.xml -X
        # new approach with code-coverage does not work as of 2024/12 because
        # "Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar (default-cli) on project primefaces-parent: Could not find a default branch for project with key 'org.primefaces:primefaces-parent'. Make sure project exists. -> [Help 1]"
        # setting sonar.skip=true in the parent-pom.xml does not work either because this results in skipping the whole project, setting sonar.skip=false for modules does not compensate for this
        # run: mvn clean install sonar:sonar -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,mojarra-4.0 -Dsonar.organization=primefaces -Dsonar.host.url=https://sonarcloud.io -Dsonar.token=${{secrets.SONAR_TOKEN}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  integration-tests:
    runs-on: ubuntu-latest
    if: false  # Disabled - only one integration test run for Java 25
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        include:
          # Only Java 25 with Mojarra 4.1
          - java: 25
            facesimpl: 'mojarra-4.1'
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests
        run: mvn -B -V clean install -fprimefaces-integration-tests/pom.xml -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}
      - name: Upload failure-screenshots
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: failed_tests_screenshots_java${{ matrix.java }}_${{ matrix.facesimpl }}
          if-no-files-found: ignore
          path: /tmp/pf_it/
