name: CI

on: [push, pull_request, workflow_dispatch]

env:
    MAVEN_OPTS: >-
        -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
    SCREENSHOT_DIRECTORY: '/tmp/pf_it/'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces/primefaces'
    name: Build
    strategy:
      fail-fast: false
      matrix:
        java: [11, 21]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -Pjsdoc,minify --batch-mode --show-version
      - name: Sonar Cloud
        if: github.repository == 'primefaces/primefaces' && github.ref == 'refs/heads/master' && matrix.java == 21
        run: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.organization=primefaces -Dsonar.host.url=https://sonarcloud.io -Dsonar.token=${{secrets.SONAR_TOKEN}}  -fprimefaces/pom.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  integration-tests-23:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces/primefaces'
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        java: [11, 21, 22]
        facesimpl: [ 'mojarra-2.3', 'myfaces-2.3']
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -pl -primefaces-integration-tests-jakarta -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests
        run: mvn -B -V clean install -fprimefaces-integration-tests/pom.xml -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}
      - name: Upload failure-screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: failed_tests_screenshots_java${{ matrix.java }}_${{ matrix.facesimpl }}
          if-no-files-found: ignore
          path: /tmp/pf_it/


  integration-tests-40:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces/primefaces'
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        java: [11, 21]
        facesimpl: [ 'mojarra-4.0', 'myfaces-4.0' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests
        run: mvn -B -V clean install -fprimefaces-integration-tests-jakarta/pom.xml -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}
      - name: Upload failure-screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: failed_tests_screenshots_java${{ matrix.java }}_${{ matrix.facesimpl }}_jakarta
          if-no-files-found: ignore
          path: /tmp/pf_it/
