name: CI

on: [push, pull_request, workflow_dispatch]

env:
    MAVEN_OPTS: >-
        -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces/primefaces'
    name: Build
    strategy:
      fail-fast: false
      matrix:
        java: [8]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -Pjsdoc,minify --batch-mode --show-version

  integration-tests-22:
    runs-on: ubuntu-latest
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        java: [8]
        facesimpl: [ 'myfaces-2.2' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -pl -primefaces-integration-tests-jakarta -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests (serial)
        run: mvn -B -V clean install -fprimefaces-integration-tests/pom.xml -Pintegration-tests,headless,chrome-jsf22,theme-saga,csp,${{ matrix.facesimpl }}


  integration-tests-23:
    runs-on: ubuntu-latest
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        java: [8, 20]
        facesimpl: [ 'mojarra-2.3', 'myfaces-2.3']
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -pl -primefaces-integration-tests-jakarta -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests (serial)
        if: matrix.java == 8
        run: mvn -B -V clean install -fprimefaces-integration-tests/pom.xml -Pintegration-tests,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}
      - name: Integration Tests (parallel)
        if: matrix.java != 8
        run: mvn -B -V clean install -fprimefaces-integration-tests/pom.xml -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}


  integration-tests-40:
    runs-on: ubuntu-latest
    name: Integration Tests (Java ${{ matrix.java }} - ${{ matrix.facesimpl }})
    strategy:
      fail-fast: false
      matrix:
        java: [20]
        facesimpl: [ 'mojarra-4.0', 'myfaces-4.0' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -DskipTests -Dcheckstyle.skip -Djsdoc.skip.typedoc=true -Dmaven.javadoc.skip=true --batch-mode --show-version
      - name: Integration Tests (parallel)
        run: mvn -B -V clean install -fprimefaces-integration-tests-jakarta/pom.xml -Pintegration-tests,parallel-execution,headless,chrome,theme-saga,csp,${{ matrix.facesimpl }}
