name: Deploy Showcase

on:
  push:
    branches:
      - master
      - 15.x
      - 14.x
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces/primefaces'
    name: Build
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Build
        run: mvn clean install -T1C -Pminify --batch-mode --show-version
      - name: Build Showcase
        run: mvn clean install -f primefaces-showcase -P tomee -T1C --batch-mode --show-version
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: primefaces-showcase/.
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/primefaces-showcase:${{ github.ref_name }}-latest
      - name: Deploy to DigitalOcean
        uses: digitalocean/app_action@v2.0.9
        with:
          app_name: seashell-app
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          
