name: Stale Issues
on:
  schedule:
    - cron: "0 1 * * *"
permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue is marked as stale because there was no activity on it for the last 2 years. Remove stale label or comment or this will be closed in 30 days'
          stale-pr-message: 'This PR is marked as stale because there was no activity on it for the last 2 years. Remove stale label or comment or this will be closed in 30 days'
          exempt-issue-labels: 'new feature,enhancement,theme'
          days-before-stale: 730
          days-before-close: 30
